.wrapper {
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


div[class="section"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.link1,
.link2 {
    border:1px solid black;
    padding: 1rem;
    background-color: rgb(210, 187, 231);
    
}

.link1:hover,
.link2:hover {
    background-color: coral;
    transition: background-color 0.5s ease-out;
    -webkit-transition: cobackground-colorlor 0.5s ease-out;
    font-size: 1.5rem;
    transition: fon-size 4s 1s;
    -webkit-transition: fon-size 4s 1s;
}

.link1 button:hover,
.link2 button:hover {
    font-size: 2rem;
    transition: fon-size 4s 1s;
    -webkit-transition: fon-size 4s 1s;
}